.changee-password-containerr {
  padding: 30px;
  width: 100%;
  max-width: 500px;
  margin: auto 25rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  /* background: #fff; */
  border-radius: 8px;
}

.labels {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
