.sidebar1 {
  width: 250px;
  height: 100vh;
  background-color: #074441;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.caretaker-li {
  margin-top: 15px;
}
.sidebar1 nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar1 nav ul li {
  margin: 20px 0;
}

.sidebar1 nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
}

.sidebar1 nav ul li a:hover {
  background-color: #15706c;
  text-decoration: none;
}
