.blog-container {
  font-family: "Arial", sans-serif;
  margin: 80px auto;
  padding: 2rem;

  max-width: 1200px;
  background-color: #f5f3f3;
}

.blog-header {
  text-align: start;
  margin-bottom: 2rem;
}

.blog-header h1 {
  display: flex;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.blog-header p {
  font-size: 1rem;
  color: #555;
}

/* Blog Grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Blog Card */
.blog-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 1.5rem;
}

.blog-content h2 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.blog-date {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 1rem;
}

.blog-excerpt {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

/* Blog Button */
.blog-button {
  display: block;
  width: 100%;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #1abc9c;
  background-color: #1abc9c;
  /* background-color: #f5b7b1; */
  color: #ffffff;

  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
}

.blog-button:hover {
  background-color: #fa745b;
  border-bottom: 2px solid #fa745b;
  color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .blog-header h1 {
    font-size: 2rem;
  }

  .blog-header p {
    font-size: 0.9rem;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }
}
