/* BookCaretaker.css */

.user-container {
  max-width: 1200px;
  margin: 95px auto;
  padding: 20px;
  text-align: center;
}

.caretaker-image {
  width: 150px; /* Adjust size as needed */
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.user-title {
  text-align: start;
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.user-caretaker-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}

.user-caretaker-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.user-caretaker-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.user-caretaker-name {
  text-transform: capitalize;
  font-size: 20px;
  justify-content: flex-start;
  display: flex;
  margin-top: 12px;
  font-weight: bold;
}

.user-caretaker-text {
  justify-content: flex-start;
  display: flex;
  color: #777;
  font-size: 16px;
}

.user-modal {
  margin-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-modal-content {
  background: white;
  padding: 25px;
  border-radius: 8px;
  width: 500px;
  text-align: center;
}

.date-picker {
  /* width: 100%; */
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  text-transform: capitalize;

  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-confirm-button {
  background: #28a745;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  margin-top: 10px;
}
.user-book-button {
  border: 2px solid #008080;
  background-color: #008080;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin-top: 15px;
}
.user-book-button:hover {
  background-color: #016b6b;
}
.user-confirm-button:hover {
  background: #218838;
}

.user-close-button {
  background: #dc3545;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  margin-top: 10px;
}

.user-close-button:hover {
  background: #c82333;
}
