.user-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.user-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.user-caretaker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.user-caretaker-card {
  width: 20rem;
  height: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.verified-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.caretaker-image {
  width: 100%;
  height: 190px;
  object-fit: fit;
}

.user-caretaker-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 32px;
  text-align: justify;
}

.user-caretaker-languages {
  font-size: 14px;
  text-align: justify;
  display: flex;
  gap: 0px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 1rem;
}

.language-tag {
  color: aliceblue;
  margin: 0px 2px;
  padding: 6px 10px;
  border-radius: 7px;
  background-color: gray;
}

.location-tag {
  margin: 0px 2px;
  padding: 5px 8x;
}

.caretaker-rating {
  font-size: 14px;
  color: #ffa500;
  margin: 5px 0;
}

.location-tags {
  margin-left: 25px;
  /* margin-top: 10px; */
  text-align: justify;
}

.tag {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px;
  display: inline-block;
  margin-top: 5px;
}

.user-caretaker-bio {
  font-size: 14px;
  color: #666;
  margin-left: 30px;

  margin-top: 10px;
  text-align: left;
}

.view-details-btn {
  background-color: #008080;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.view-details-btn:hover {
  background-color: #015555;
}
