.user-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.user-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.user-caretaker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.user-caretaker-card {
  width: 20rem;
  height: 22rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.verified-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.caretaker-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.user-caretaker-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  text-align: justify;
}

.user-caretaker-languages {
  font-size: 14px;
  text-align: justify;

  color: gray;
}

.caretaker-rating {
  font-size: 14px;
  color: #ffa500;
  margin: 5px 0;
}

.location-tags {
  margin-top: 10px;
  text-align: justify;
}

.tag {
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px;
  display: inline-block;
  margin-top: 5px;
}

.user-caretaker-bio {
  font-size: 14px;
  color: #666;
  margin-top: 20px;
  /* text-align: justify; */
  text-align: left;
}

.view-details-btn {
  border: 2px solid #008080;
  background-color: #008080;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.view-details-btn:hover {
  background: #0056b3;
}
