.Details-caretaker-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 72px auto;
}

.Details-caretaker-profile {
  width: 60%;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Details-profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.Details-caretaker-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
.specialty {
  background-color: #e7f3fe;
  color: #2196f3;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 5px;
  width: 7rem;
  font-size: 12px;
  margin: 6px;
}

.Details-verified-icon {
  /* font-size: 1rem;
  display: inline;
  top: 9px;
  gap: 12px;
  padding: 2px 3px; */
  color: #007bff;
}

.details-icon {
  gap: 12px;
  font-size: 1.5rem;
}

.Details-joined-date {
  font-size: 0.9rem;
  color: gray;
}

.Details-section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  border-bottom: 2px solid #000;
  display: inline-block;
}

.Details-about-text {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.Details-no-reviews {
  font-size: 0.9rem;
  color: gray;
}

.Details-write-review {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.Details-caretaker-sidebar {
  width: 40%;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Details-book-button {
  background-color: #008080;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.Details-info-card {
  background-color: #e7f3fe;
  color: #2196f3;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.Details-info-card h3 {
  font-size: 1rem;
  color: #0056b3;
  margin-bottom: 0.5rem;
}

.Details-info-card p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.doc {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  text-decoration: none;
  color: gray;
}
