.edit-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.edit-form {
  background: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.edit-form h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
}

.edit-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.edit-form input,
.edit-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 5px;
}
.div-btn {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 5px;
}

.btn11 {
  margin-top: 20px;
  width: 50%;
  color: #000000;
  border: 2px solid #000000;
  background-color: white;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.btn11:hover {
  background-color: white;
}
.btn12 {
  margin-top: 20px;
  width: 50%;
  background-color: #008080;
  color: white;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.btn11 :hover {
  background-color: #016b6b;
}
