/* Responsive Adjustments */
@media (max-width: 768px) {
  .footer {
    height: auto; /* Allows height to adjust dynamically */
    padding: 0.5rem;
    flex-direction: column; /* Stacks content vertically */
  }

  .footer p {
    font-size: 0.8rem; /* Reduces font size for smaller screens */
  }
}
footer {
  /* background-color: #3b5b63; */
  background-color: #5d9073;
  /* border: 2px solid #5d9073; */
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  margin-left: 0;
}

footer p {
  color: white;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: center;
}
