.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  /* background-color: #d81b60; */

  border-bottom: 2px solid #d81b60;
  background-color: #fefefe;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Caretaker Navigation Styling */
.caretaker-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
  align-items: center;
  list-style: none;
  gap: 2rem; /* Adjusts spacing between items */
}

.caretaker-nav ul li {
  margin: 0;
}

.caretaker-nav .nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem; /* Adjust font size for consistency */
  transition: color 0.3s ease;
}

/* Log Buttons */
.btn-login {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #d81b60;
  border: 2px solid #d81b60;

  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 55px;
}

.btn-login:hover {
  background-color: #a71349;
  border: 2px solid #a71349;
}
