/* InputField.css */
.input-field {
  /* margin-top: px; */
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
}

.input-box {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #624949;
  border-radius: 5px;
  font-size: 14px;
}
.input-icon {
  color: var(--iconcolor--);
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
