.input-field {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
}

.input-box {
  /* border: none;
  outline: none; */
  border: 1.5px solid #008080;

  flex: 1;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}
.input-icon {
  color: var(--iconcolor--);
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
