.user-auth-container {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: #f5f6fa;
  padding: 2rem;
  margin-top: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.user-auth-box {
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.user-auth-box h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.user-auth-box p {
  color: #666;
  margin-bottom: 1.5rem;
}

.user-auth-box input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.user-forgot-link {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  color: #2c7be5;
  margin-bottom: 1rem;
  text-decoration: none;
}

.user-forgot-link:hover {
  text-decoration: underline;
}

.user-auth-button {
  border: 2px solid #008080;
  background-color: #008080;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.user-auth-button:hover {
  background-color: #016b6b;
}

.user-create-account {
  color: #2c7be5;
  text-decoration: none;
  margin-left: 0.3rem;
}

.user-create-account:hover {
  text-decoration: underline;
}
/* 
.auth-imagee {
  flex: 1;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.login-imagee {
  background-image: url("https://images.unsplash.com/photo-1588776814546-b66f18b13a15?auto=format&fit=crop&w=800&q=80");
  max-width: 450px;
  width: 100%;
  height: 100%;
} */

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .auth-box {
    width: 100%;
    max-width: 90%;
  }

  .auth-imagee {
    max-width: 100%;
    height: 200px;
  }
}
