@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}
.logos {
  display: flex;
}

.left-container {
  margin: auto;
  /* margin-bottom: 1rem; */
  display: flex;
  align-items: center;

  font-size: 3rem;
  color: #ff5733;
}
.imge {
  height: 5.5rem;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
  width: 6rem;
}

.logo1 {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.logo {
  font-size: 20px;
  color: #fa745b;
  font-weight: bold;
}
