@import url(../Css/Root.css);

.status-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}
.status-btn:hover {
  background-color: var(--primary-color);
}
